Linguaxe de marcas/Temas/XML/Tarefa 6 Crear XSD/precios.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
          
    <xs:element name="precios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="precio" type="tipoPrecio" maxOccurs="unbounded">
                    
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
          
    <xs:simpleType name="tipoPrecio">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="3"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
