Linguaxe de marcas/Temas/XML/Tarefa 6 Crear XSD/vehiculos.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vehiculos"></xs:element>
 <xs:element name="vehiculo" type="tipoVehiculo">
     
 </xs:element> 
     
     
  <xs:simpleType name="tipoVehiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="barco"/>
      <xs:enumeration value="bicicleta"/>
      <xs:enumeration value="coche"/>
      <xs:enumeration value="tren"/>
    </xs:restriction>
  </xs:simpleType>
       

</xs:schema>
